.main-chart {
    display: flex;
    text-align: center;
    margin: 20px;
    justify-content: space-around;
}

.lineChart {
    width: 40%;
}

.barchart {
    width: 40%;
}

@media only screen and (max-width: 600px) {
    .main-chart {
        display: inline-block;

    }

    .lineChart {
        width: 2500px;
    }

    .barchart {
        width: 2500px;
    }
}