.main-chart {
    text-align: center;
    margin: 20px;
}



.lineChart {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}

.barchart {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
}